body,html,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,p{padding:0;margin:0;
    font:12px/2 Arial,Helvetica,sans-serif,"微软雅黑","宋体"}
ul,li,ol,dl,dt,dd{list-style:none;}
a{text-decoration:none;color:#666;}
img{border:none;}
input{
    margin:0;
    padding:0;
}

.clear:after{display:block;clear:both;content:"..";visibility:hidden;height:0}
.clear{zoom:1}